<h1><%= @recipe.name %></h1>

<div>
<%= image_tag @recipe.image, :class => 'main', :alt => @recipe.name if @recipe.image.present? %>
</div>

<div class="hero">
<h2 id="title"><%= @recipe.name %></h2>
  <li id="recipe">Cooking Time: <%= @recipe.duration %></li>
  <li id="recipe">Ingredients: <%= @recipe.ingredients %></li>
  <li id="recipe">Method: <%= @recipe.method %></li>
</div>

  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
  |
  <%= link_to 'Delete Recipe', @recipe, :method => 'delete' %>

  <h2>Reviews:</h2>
  <% if @recipe.reviews.present? %>
  <% @recipe.reviews.each do |review| %>
  <h3><b><%= link_to review.tagline, edit_review_path %></b></h3>
    <h4 class="lighter">Rating: <%= review.rating %>/5</h4>
    <p class="hero"><%= review.content %>
    - <%= review.user.email -%></p>
  <% end %>
<% end %>

<% if @current_user.present? %>
  <%= form_for Review.new do |f| %>

    <%= f.label "Review Title" %>
    <%= f.text_field :tagline, :required => true, :autofocus => true %>

    <%= f.label :rating %>
    <%= f.number_field :rating, :required => true %>

    <%= f.label "Comments" %>
    <%= f.text_field :content, :required => true %>
    <%= hidden_field_tag :recipe_id, @recipe.id %>
    <%= f.submit "Add Review"%>
  <% end %>
<% end %>
