<h1><%= @recipe.name %></h1>

<%= image_tag @recipe.image, :class => 'main', :alt => @recipe.name if @recipe.image.present? %>
<ul>
  <li><%= @recipe.name %></li>
  <li>Time: <%= @recipe.duration %></li>
  <li>Ingredients: <%= @recipe.ingredients %></li>
  <li>Method: <%= @recipe.method %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
  <%= button_to 'Delete Recipe', @recipe, :method => 'delete' %>
  <%= link_to 'Review Recipe', new_review_path(@review) %>
</div>

<div class="comments">
<% @recipe.reviews.each do |review| %>
  <%= link_to review.tagline, review %>
  <%= review.rating %>
  <%= review.content %>
<% end %>
</div>
