<h1><%= @recipe.name %></h1>

<div>
<%= image_tag @recipe.image, :class => 'main', :alt => @recipe.name if @recipe.image.present? %>
</div>

<ul>
  <li><%= @recipe.name %></li>
  <li>Time: <%= @recipe.duration %></li>
  <li>Ingredients: <%= @recipe.ingredients %></li>
  <li>Method: <%= @recipe.method %></li>
</ul>

  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
  <%= link_to 'Delete Recipe', @recipe, :method => 'delete' %>
  <%= link_to 'Add a Review', new_review_path(@review) %>
  <% if @recipe.reviews.present? %>
  <% @recipe.reviews.each do |review| %>
  <p><%= review.tagline %> - <%= review.user.email %></p>
  <% end %>
<% end %>

<% if @current_user.present? %>
  <%= form_for Review.new do |f| %>

    <%= f.label "Review Title" %>
    <%= f.text_field :tagline, :required => true, :autofocus => true %>

    <%= f.label :rating %>
    <%= f.number_field :rating, :required => true %>

    <%= f.label "Comments" %>
    <%= f.text_field :content, :required => true %>
    <%= hidden_field_tag :recipe_id, @recipe.id %>
    <%= f.submit "Add Review"%>
  <% end %>
<% end %>
