<h1>Write Review</h1>

<%= form_for @review do |f| %>

  <%= @current_user.email %>

  <%= f.label 'Review Title' %>
  <%= f.text_field :tagline, :required => true, :autofocus => true %>

  <%= f.label :rating %>
  <%= f.number_field :rating, :required => true %>

  <%= f.label 'Comments' %>
  <%= f.text_field :content, :required => true %>

  <%= f.submit %>
<% end %>
